<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>寺库网</title>
	
	<link rel="stylesheet" href="/app-02c17a08b8.min.css">
	
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery1.42.min.js"></script>
	<script type="text/javascript" src="../bower_components/superslide/jquery.SuperSlide.2.1.1.js"></script>
	<script src="../bower_components/seajs/dist/sea.js"></script>
	<script src="../bower_components/underscore/underscore.js"></script>
</head>
<body>
	<header class="header" >
		<nav class="nav clear">
			<ul class="clear">
				<li>欢迎光临寺库</li>
				<li><a href="#">请登录</a></li>
				<li><a href="#">免费注册</a></li>
				<li>|</li>
				<li><a href="#">我的订单</a></li>
				<li class="person-box">
					<a class="person" href="#">客户服务<i class="trigon"></i></a>
					<div class="personlist">
						<a href="#">养护中心</a>
						<a href="#">帮助中心</a>
						<p>贵宾专线</p>
						<p>400-87-12222</p>
					</div>
				</li>
				<li><a href="#">媒体聚焦</a></li>
				<li><a href="#"><span class="shop"></span>购物车(0)</a></li>
			</ul>
		</nav>
		<div class="seachBar clear">
			<div class="logo">
				<a href="#"><img src="../img/secoo_logo.png" alt=""></a>
				<a href="#"><img src="../img/999.gif" alt=""></a>
			</div>
			<div class="seachInput">
				<input type="" name="" placeholder="Moncler/蒙克莱">
				<a href="#">搜索</a>
			</div>
			<div class="searchHot">
				<a href="#">Louis Vuitton经典风范</a>
				<a href="#">Dolce&Gabbana告别单调</a>
				<a href="#">秋冬搭配少不了围巾</a>
				<a href="#">值得收藏的大牌腕表</a>
				<a href="#">年末首饰狂欢节</a>
			</div>
			<div class="head_navBar">
				<a href="#">首页</a>
				<a class="sea" href="#">海外直邮<span class="hot" ><img src="../img/hot.gif" alt=""></span></a>
				<a href="#">闪购SALE</a>
				<a href="#">我卖我拍</a>
				<a href="#">品牌旗舰店</a>
				<a href="#">中国精品</a>
				<a href="#">男士</a>
				<a href="#">女士</a>
				<a href="#">豪车</a>
			</div>
			<div class="navApps"></div>
		</div>
		<div class="float-list">
			<div class="orderDivMain">全部奢品</div>
			<dl>
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl class="odd">
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl class="odd">
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl class="odd">
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl class="odd">
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>
					<strong><a href="#">包袋</a></strong>
					<p>
						<a href="#">路易威登</a>
						<a href="#">古驰</a>
						<a href="#">普拉达</a>
					</p>
				</dt>
				<dd>
					<ul>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<strong><a href="#">分类</a></strong>
							<div class="float-list-cont">
								<a href="#">新车<em>|</em></a>
								<a href="#">二手车<em>|</em></a>
								<a href="#">平行进口车<em>|</em></a>
								<a href="#">豪车精品<em>|</em></a>
								<a href="#">儿童车品<em>|</em></a>
								<a href="#">自驾装备<em>|</em></a>
								<a href="#">汽车周边<em>|</em></a>
								<a href="#">车载电器<em>|</em></a>
								<a href="#">车饰美容<em>|</em></a>
								<a href="#">改装保养<em>|</em></a>
								<a href="#">飞机游艇<em>|</em></a>
								<a href="#">智能驾驭<em>|</em></a>
							</div>
						</li>
						<li>
							<div class="float-list-btn">
								<a href="#">AstonMartin旗舰店</a>
								<a href="#">无人机专场</a>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
	</header>
	<div class="seachFix">
		<div class="seachBox">
			<input type="text" placeholder="Salvatore Ferragamo/菲拉格慕">
			<a href="#">搜索</a>
		</div>
	</div>
	<div class="banner">
		<ul class="imgBox">
			<li style="background: rgb(208, 109, 26);display: block;">
				<a href="#">
					<img class="img-left" src="../img/banner1.jpg" alt="">
					<img class="img-right" src="../img/banner1-1.png" alt="">
				</a>
			</li>
			<li style="background: rgb(41, 41, 41);">
				<a href="#">
					<img class="img-left" src="../img/banner2.jpg" alt="">
					<img class="img-right" src="../img/banner2-2.png" alt="">
				</a>
			</li>
			<li style="background: rgb(0, 73, 104);">
				<a href="#">
					<img class="img-left" src="../img/banner3.jpg" alt="">
					<img class="img-right" src="../img/banner3-3.png" alt="">
				</a>
			</li>
		</ul>
		<ul class="list">
			<li class="active"></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="content">
		<div class="floorList">
			<a href="#"><img src="../img/210f4f1922d943ea817f15a9453aedfc.jpg" alt=""></a>
			<a href="#"><img src="../img/4027af909838416986d5189d4fc82825.jpg" alt=""></a>
			<a href="#"><img src="../img/fd521ee6ac964e82a68ed552713c1d9a.jpg" alt=""></a>
		</div>
		<!-- 海外直邮 start -->
		<div class="floor">
			<div class="m-tit">
				<a class="t1" href="#"></a>
				<div class="b1"></div>
				<ul>
					<li><i class="thw01"></i>全球好货</li>
					<li><i class="thw02"></i>原装正品</li>
					<li><i class="thw03"></i>海外直邮</li>
					<li><i class="thw04"></i>自有保税仓</li>
				</ul>
			</div>
			<div class="hw-section clear">
				<div class="col1 fl">
					<div class="col1-top clear">
						<a class="fl" href="#"><img src="../img/col1-1.jpg" alt=""></a>
						<a class="fr" href="#"><img src="../img/col1-2.jpg" alt=""></a>
					</div>
					<div class="col1-bottom">
						<ul class="pro-list clear">
							<li>
								<a class="img-box" href="#"><i class="light"></i><img src="../img/col1-3.JPG" alt=""></a>
								<div class="txt">
									<span class="icon1"></span>
									<h1>香港&nbsp;直供</h1>
									<a href="#" title="FURLA 芙拉 女士印花牛皮时尚潮流手提单肩包161022 "> FURLA 芙拉 女士印花牛皮时尚潮流手提单肩包161022 </a>
									<p> 1,792 </p>
								</div>
							</li>
							<li>
								<a class="img-box" href="#"><i class="light"></i><img src="http://pic11.secooimg.com/product/160/160/83/49/13828349.jpg" alt=""></a>
								<div class="txt">
									<span class="icon2"></span>
									<h1>欧洲&nbsp;直供</h1>
									<a href="#" title=" Dsquared2/D二次方 男士 尼龙 拉链装饰 运动鞋 EB  ">  Dsquared2/D二次方 男士 尼龙 拉链装饰 运动鞋 EB </a>
									<p> 3,041 </p>
								</div>
							</li>
							<li>
								<a class="img-box" href="#"><i class="light"></i><img src="http://pic11.secooimg.com/product/160/160/90/64/14719064.jpg" alt=""></a>
								<div class="txt">
									<span class="icon3"></span>
									<h1>美国&nbsp;直供</h1>
									<a href="#" title=" RALPH LAUREN 褐色舒适V领纯羊毛衫 107495406 "> RALPH LAUREN 褐色舒适V领纯羊毛衫 107495406 </a>
									<p> 2,152 </p>
								</div>
							</li>
							<li>
								<a class="img-box" href="#"><i class="light"></i><img src="http://pic11.secooimg.com/product/160/160/81/57/12068157.jpg" alt=""></a>
								<div class="txt">
									<span class="icon4"></span>
									<h1>日本&nbsp;直供</h1>
									<a href="#" title=" TAKEO KIKUCHI/菊池武夫 棉质男士休闲长裤07078952 "> TAKEO KIKUCHI/菊池武夫 棉质男士休闲长裤07078952 </a>
									<p> 1,032 </p>
								</div>
							</li>
							<li>
								<a class="img-box" href="#"><i class="light"></i><img src="http://pic11.secooimg.com/product/160/160/50/54/2608855acd5e4f30856b66bbd784322b.jpg" alt=""></a>
								<div class="txt">
									<span class="icon5"></span>
									<h1>澳大利亚&nbsp;直供</h1>
									<a href="#" title="楼层导航,免税直邮_图片07_商品05_澳佳宝女性美白套装维生素E霜+葡萄籽精华+胶原蛋白片">楼层导航,免税直邮_图片07_商品05_澳佳宝女性美白套装 维生素E霜+葡萄籽精华+胶原蛋白片</a>
									<p> 369 </p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col2 fr">
					<div class="tit clear">
						<a class="tit-a fr" href="#" title="楼层导航,免税直邮_品牌00_更多海外品牌">更多海外品牌</a>
					</div>
					<ul class="brand-logo">
						<li>
							<div class="bd">
								<a href="#">
									<span class="mo"><img src="../img/col2-1.jpg" alt=""></span>
									<i>2折起</i>
								</a>
							</div>
								<a class="btm" href="#">大牌秋冬鞋靴</a>
						</li>
						<li>
							<div class="bd">
								<a href="#">
									<span class="mo"><img src="../img/col2-2.jpg" alt=""></span>
									<i>4折起</i>
								</a>
							</div>
								<a class="btm" href="#">EONE季中折扣</a>
						</li>
						<li>
							<div class="bd">
								<a href="#">
									<span class="mo"><img src="../img/col2-3.jpg" alt=""></span>
								</a>
							</div>
								<a class="btm" href="#">男装季中折扣</a>
						</li>
						<li>
							<div class="bd">
								<a href="#">
									<span class="mo"><img src="../img/col2-4.jpg" alt=""></span>
								</a>
							</div>
								<a class="btm" href="#">正官庄</a>
						</li>
					</ul>
				</div>
			</div>
		<!-- 海外直邮 end -->
		</div>
		<!-- 闪购 start -->
		<div class="floor">
			<div class="m-tit">
				<a class="t1 t2" href="#"></a>
				<div class="b1">
					<span>每天10点准时上线</span>
				</div>
			</div>
			<div class="sale-section clear">
				<div class="tit clear"><a class="tit-a fr" href="#">更多闪购品牌</a></div>
				<div class="col1 fl">
					<a href="#"><img src="../img/sale-1.jpg" alt=""></a>
					<div class="txt">
						<div class="img">
							<img src="../img/sale11.jpg" alt="">
							<i></i>
						</div>
						<p class="name">5折起</p>
						<span class="btn">SHOP NOW</span>
					</div>
					<span class="time Jtime" data-time="2016-11-18 10:00:00">
						剩余时间:
						<em class="day"></em>天
						<em class="hour"></em>时
						<em class="minute"></em>分
						<em class="second"></em>秒
					</span>
				</div>
				<div class="col2 fl">
					<a class="a1" href="#"><img src="../img/sale2.jpg" alt=""><div class="txt-con">
						<h1><别样风情>葆蝶家男女装专场</h1>
						<span>4折起</span>
					</div></a>
					<a href="#"><img src="../img/sale3.jpg" alt=""><div class="txt-con">
						<h1><奢华工艺>Ferragamo男鞋专场</h1>
						<span>3折起</span>
					</div></a>
				</div>
				<div class="col3 fr">
					<div class="imgbox">
						<a href="#">
							<img src="../img/sale12.jpg" alt="">
							<h1>BINMEI吊坠</h1>
							<p>2,339</p>
							<span class="time Jtime" data-time="2016-11-09 10:00:00">
								<em class="day"></em>天
								<em class="hour"></em>时
								<em class="minute"></em>分
								<em class="second"></em>秒
							</span>
						</a>
						<a href="#">
							<img src="../img/sale4.jpg" alt="">
							<h1>Emporio Armani围巾</h1>
							<p>1,499</p>
							<span class="time Jtime" data-time="2016-11-09 10:00:00">
								<em class="day"></em>天
								<em class="hour"></em>时
								<em class="minute"></em>分
								<em class="second"></em>秒
							</span>
						</a>
					</div>
				</div>
				<ul class="brand-logo fl">
					<li>
						<div class="bd">
							<a href="#">
								<span class="mo"><img src="../img/sale5.jpg" alt=""></span>
								<i>6折起</i>
							</a>
						</div>
							<a class="btm" href="#"><工艺精湛>腕表专场</a>
					</li>
					<li>
						<div class="bd">
							<a href="#">
								<span class="mo"><img src="../img/sale6.jpg" alt=""></span>
								<i>3折起</i>
							</a>
						</div>
							<a class="btm" href="#"><魅力奢华>包袋专场</a>
					</li>
					<li>
						<div class="bd">
							<a href="#">
								<span class="mo"><img src="../img/sale7.jpg" alt=""></span>
								<i>2折起</i>
							</a>
						</div>
							<a class="btm" href="#"><异国气息>男女装专场</a>
					</li>
					<li>
						<div class="bd">
							<a href="#">
								<span class="mo"><img src="../img/sale8.jpg" alt=""></span>
								<i>5折起</i>
							</a>
						</div>
							<a class="btm" href="#"><绅士魅力>男鞋专场</a>
					</li>
					<li>
						<div class="bd">
							<a href="#">
								<span class="mo"><img src="../img/sale9.jpg" alt=""></span>
								<i>3.5折起</i>
							</a>
						</div>
							<a class="btm" href="#"><诠释经典>包袋专场</a>
					</li>
					<li>
						<div class="bd">
							<a href="#">
								<span class="mo"><img src="../img/sale10.jpg" alt=""></span>
								<i>1.2折起</i>
							</a>
						</div>
							<a class="btm" href="#"><浪漫典雅>家纺专场</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 闪购 end-->

		<!-- 我卖我拍 start -->
		<div class="floor">
			<div class="m-tit">
				<a class="t1 t3" href="#"></a>
				<div class="b1">
					<span>累计拍卖: 34862</span>
				</div>
			</div>
			<div class="pm-section clear">
				<div class="col1 fl">
					<a href="#"><img src="../img/pm1.jpg" alt=""></a>
				</div>
				<div class="col2 fr">
					<div class="col2-bd">
						<h1>拍卖活动预告</h1>
						<a title="11月04日五粮液封坛藏酒青花坛 70度 6L×1 2009年" href="#">11月04日五粮液封坛藏酒青花坛 70度 6L×1 2009年</a>
						<a title="11月05日Patek Philippe/百达翡丽 Nautilus系列女士石英腕表7011/1R-001" href="#">11月05日Patek Philippe/百达翡丽 Nautilus系列女士石英腕表7011/1R-001</a>
						<a title="11月06日MCM(MCM) #粉色PVC logo女士公文包" href="#">11月06日MCM(MCM) #粉色PVC logo女士公文包</a>
						<a title="11月07日CARTIER(卡地亚) Trinity系列18k三色金镶钻手环" href="#">11月07日CARTIER(卡地亚) Trinity系列18k三色金镶钻手环</a>
					</div>
					<div class="pm-txt">
						<a class="pm-logo" href="#"></a>
						<a class="pm-more" href="#">查看更多拍卖商品</a>
						<p>本周一共有 2739个商品</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 我卖我拍 end -->
		<!-- 商城 start -->
		<div id="section" class="floor">
			<!-- <div class="m-tit">
				<a class="t1 t4" href="#"></a>
				<div class="b1">
					<span>今日上新: 1782单</span>
				</div>
			</div>
			<div class="f-tit clear">
				<a class="f-a fl" href="#">包袋</a>
				<a class="fr" href="#">更多包袋</a>
				<div class="hot fl">
					<a href="#">HERMES</a>
					<a href="#">CHANEL</a>
					<a href="#">LV</a>
					<a href="#">PRADA</a>
					<a href="#">GUCCI</a>
					<a href="#">COACH</a>
					<a href="#">BURBERRY</a>
				</div>
			</div>
			<div class="section">
				<ul class="goods-list clear">
					<li class="item-first">
						<a href="#">
						<img src="../img/goods-list1.jpg" alt="">
						<div class="text-con">
							<h2>涨价之前</h2>
							<span class="value">Gucci BVLGARI经典款赶紧入手</span>
						</div>
						</a>
					</li>
					<li class="item-big">
						<a href="#">
							<img src="../img/goods-list2.jpg" alt="">
							<div class="text-con">
								<h2>GUCCI/古驰</h2>
								<span class="value">品牌限时特惠</span>
							</div>
						</a>
					</li>
					<li>
						<a class="small" href="#">
							<img src="../img/goods-list3.jpg" alt="">
							<div class="text-con">
								<h2>FENDI/芬迪</h2>
								<span class="value">品牌特惠</span>
							</div>
						</a>
					</li>
					<li>
						<a class="small" href="#">
							<img src="../img/goods-list4.jpg" alt="">
							<div class="text-con">
								<h2>FENDI/芬迪</h2>
								<span class="value">品牌特惠</span>
							</div>
						</a>
					</li>
					<li class="item-t">
						<a href="#">
							<img src="../img/goods-list5.jpg" alt="">
							<div class="text-con">
								<h2>Salvatore Ferragamo/菲拉格慕</h2>
								<span class="value">品牌特惠</span>
							</div>
						</a>
					</li>
					<li class="item-t">
						<a href="#">
							<img src="../img/goods-list6.jpg" alt="">
							<div class="text-con">
								<h2>FURLA/芙拉</h2>
								<span class="value">品牌特惠</span>
							</div>
						</a>
					</li>
				</ul>
			</div> -->
		</div>
		<!-- 商城 end-->
		<!-- 商品广告轮播 start -->
		<div class="floor slide-box">
			<div class="m-tit">
				<div class="b1">
					<span class="like"><a href="#"></a></span>
				</div>

			</div>
			<div class="slide">
				<div class="bd">
					<ul class="clear">
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/95/61/12709561.jpg" alt=""></a>
					<p>Guy Laroche/姬龙雪  新款黑色牛皮 男士手包 GM2670232-01</p><span>1371</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/76/16/11077616.jpg" alt=""></a><p>OMEGA/欧米茄碟飞典雅天文台动显精钢自动机械男表(424.13.40.21.01.001)</p><span>24800</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/91/85/14209185.jpg" alt=""></a><p>OMEGA/欧米茄碟飞典雅天文台精钢自动机械男表(424.13.40.20.02.002)</p><span>17800</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/14/22/15741422.JPG" alt=""></a><p>Van Cleef & Arpels/梵克雅宝 18K黄金缟玛瑙 Vintage Alhambra古典系列坠饰 经典黑色四叶草项链 VCARA45800</p>
					<span>18667</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/61/74/15276174.jpg" alt=""></a><p>Louis Vuitton/路易威登 Cruise16系列时装展典范之作 女士老花色小号双肩包/背包   帆布/配皮</p><span>12778</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/17/69/11881769.JPG" alt=""></a><p><私人飞机销售·直升机·美国 罗宾逊R44> 进口4座高性价比直升机 寺库优惠价3950000元</p><span>20000</span></li>
				
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/89/38/15298938.png" alt=""></a><p>保时捷 卡宴 2015款 预订金</p><span>499</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/76/86/10797686.jpg" alt=""></a><p>Louis Vuitton/路易威登 EVA 女士 帆布/配皮 手提两用斜挎包 M95567(配有长肩带）</p><span>5806</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/13/32/13881332.jpg" alt=""></a><p>澳洲Blackmores澳佳宝天然维生素E润肤霜50g范冰冰同款</p><span>99</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/68/46/10796846.jpg" alt=""></a><p>Louis Vuitton/路易威登 TURENNE 女士两用 帆布/配皮  单肩包M48813</p><span>9999</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/81/70/10778170.jpg" alt=""></a><p>Louis Vuitton/路易威登 Neverfull中号 Monogram帆布/配皮  女士 单肩包 M41177</p><span>8778</span></li>
					<li><a href="#"><img src="http://pic11.secooimg.com/product/160/160/36/66/12023666.jpg" alt=""></a><p>Louis Vuitton/路易威登 女士 老花色帆布/配皮 两用、单肩包Alma BB、 M53152</p><span>8667</span></li>
				</ul>
				</div>
				<div class="hd">
					<div class="prev"></div>
					<div class="next"></div>
				</div>
			</div>
			
		</div>
		<!-- 商品广告轮播 end -->
	</div>
	<div class="n-footer">
		<div class="service clear">
			<ul>
				<li>
					<b>新手指南</b>
				</li>
				<li>
					<a href="#">注册新用户</a>
				</li>
				<li>
					<a href="#">网上订购流程</a>
				</li>
				<li>
					<a href="#">优惠券使用说明</a>
				</li>
				<li>
					<a href="#">海外站购买说明</a>
				</li>
				<li>
					<a href="#">美国站购买说明</a>
				</li>
			</ul>
			<ul>
				<li>
					<b>付款方式</b>
				</li>
				<li>
					<a href="#">注册新用户</a>
				</li>
				<li>
					<a href="#">在线支付</a>
				</li>
				<li>
					<a href="#">库支付</a>
				</li>
				<li>
					<a href="#">银行汇款</a>
				</li>
				<li>
					<a href="#">货到付款</a>
				</li>
			</ul>
			<ul>
				<li>
					<b>物流配送</b>
				</li>
				<li>
					<a href="#">管家配送</a>
				</li>
				<li>
					<a href="#">快递配送</a>
				</li>
				<li>
					<a href="#">到店自提</a>
				</li>
				<li>
					<a href="#">配送范围及时间</a>
				</li>
				<li>
					<a href="#">配送政策</a>
				</li>
			</ul>
			<ul>
				<li>
					<b>售后服务</b>
				</li>
				<li>
					<a href="#">退换货说明</a>
				</li>
				<li>
					<a href="#">如何办理退款</a>
				</li>
				<li>
					<a href="#">售后服务保养手册</a>
				</li>
				<li>
					<a href="#">奢侈品养护服务</a>
				</li>
				<li>
					<a href="#">奢侈品拍卖置换</a>
				</li>
			</ul>
			<ul class="last">
				<li>
					<b>跨境体验店</b>
				</li>
				<li>
					<p>寺库通过在全球多地设立体验店和办事机构的方式，为高端消费者提供贴心的全球奢侈品一站式服务</p>
				</li>
				<li>
					<p>
						<a href="#">北京</a>
						<a href="#">香港</a>
					</p>
					<p>
						<a href="#">上海</a>
						<a href="#">米兰</a>	
					</p>
					<a href="#">成都</a>
				</li>
			</ul>
		</div>
		<div class="footer-nav">
			<ul class="clear">
				<li class="nf-1">
					<i></i>
					100%正品保证
				</li>
				<li class="nf-2">
					<i></i>
					7天退换货
				</li>
				<li class="nf-3">
					<i></i>
					专业维修保养
				</li>
				<li class="nf-4">
					<i></i>
					权威奢侈品鉴定
				</li>
				<li class="nf-5">
					<i></i>
					贴心管家物流
				</li>
			</ul>
		</div>
		<div class="footer-aboat">
			<div class="aboat-bd">
				<p>
					<a href="#">寺库网</a>
					<a href="#">寺库奢侈品保养</a>
					<a href="#">寺库招商</a>
					<a href="#">寺库加盟店</a>
				</p>
				<p>
					<span>统一社会信用代码：91110102689248179K</span>
					<a class="clear" href="#"><img style="float: left;padding-top: 3px" src="../img/f1.png" alt="">京公安备11010102001392</a>
					<span>京ICP证110119号 京ICP备09084709号-3</span>
					<span>ISO9001中国质量管理体系认证</span>
				</p>
				<p>
					<a href="#">加入寺库</a>
					<a href="#">联系我们</a>
					<a href="#">关于寺库</a>
					<a href="#">帮助中心</a>
					<a href="#">寺库微博</a>
					<a href="#">友情链接</a>
					<a href="#">奢侈品热词</a>
					<a href="#">奢侈品资讯</a>
				</p>
				<div class="authentication clear">
					<a href="#"><img src="../img/f_01.jpg" alt=""></a>
					<a href="#"><img src="../img/f_04.jpg" alt=""></a>
					<a href="#"><img src="../img/f_05.jpg" alt=""></a>
					<a href="#"><img src="../img/f_06.jpg" alt=""></a>
					<a href="#"><img src="../img/f_03.jpg" alt=""></a>
				</div>
				<ul class="ewm clearfix">
					<li>
						<img src="../img/app_ewm0827.jpg" alt="">
						<p>手机客户端</p>
					</li>
					<li>
						<img src="../img/sk_ewm0827.jpg" alt="">
						<p>官方微信</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="fix-up">
		<a href="#">全球好货</a>
	</div>
	<script>
		seajs.config({
			base:"./"
		});
		seajs.use('../js/homesea.js',function(a){
			a.init();
		});
	</script>
</body>
</html>