<div class="m-tit">
	<a class="t1 t4" href="#"></a>
	<div class="b1">
		<span>今日上新: 1782单</span>
	</div>
</div>
##for(var i = 0;i<data.length;i++){##
<div class="f-tit clear">
    <a class="f-a fl" href="#">{{data[i].f_tit[0]}}</a>
    <a class="fr" href="#">{{data[i].f_tit[1]}}</a>
    <div class="hot fl">
        <a href="#">{{data[i].f_tit[2]}}</a>
        <a href="#">{{data[i].f_tit[3]}}</a>
        <a href="#">{{data[i].f_tit[4]}}</a>
        <a href="#">{{data[i].f_tit[5]}}</a>
        <a href="#">{{data[i].f_tit[6]}}</a>
        <a href="#">{{data[i].f_tit[7]}}</a>
        <a href="#">{{data[i].f_tit[8]}}</a>
    </div>
</div>
<div class="section">
    <ul class="goods-list clear">
        <li class="item-first">
            <a href="#">
                <img src="{{data[i].section.img[0]}}" alt="">
                <div class="text-con">
                    <h2>{{data[i].section.h[0]}}</h2>
                    <span class="value">{{data[i].section.s[0]}}</span>
                </div>
            </a>
        </li>
        <li class="item-big">
            <a href="#">
                <img src="{{data[i].section.img[1]}}" alt="">
                <div class="text-con">
                    <h2>{{data[i].section.h[1]}}</h2>
                    <span class="value">{{data[i].section.s[1]}}</span>
                </div>
            </a>
        </li>
        <li>
            <a class="small" href="#">
                <img src="{{data[i].section.img[2]}}" alt="">
                <div class="text-con">
                    <h2>{{data[i].section.h[2]}}</h2>
                    <span class="value">{{data[i].section.s[2]}}</span>
                </div>
            </a>
        </li>
        <li>
            <a class="small" href="#">
                <img src="{{data[i].section.img[3]}}" alt="">
                <div class="text-con">
                    <h2>{{data[i].section.h[3]}}</h2>
                    <span class="value">{{data[i].section.s[2]}}</span>
                </div>
            </a>
        </li>
        <li class="item-t">
            <a href="#">
                <img src="{{data[i].section.img[4]}}" alt="">
                <div class="text-con">
                    <h2>{{data[i].section.h[4]}}</h2>
                    <span class="value">{{data[i].section.s[2]}}</span>
                </div>
            </a>
        </li>
        <li class="item-t">
            <a href="#">
                <img src="{{data[i].section.img[5]}}" alt="">
                <div class="text-con">
                    <h2>{{data[i].section.h[5]}}</h2>
                    <span class="value">{{data[i].section.s[2]}}</span>
                </div>
            </a>
        </li>
    </ul>
</div>
##}##
